body.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}
.not-found-container {
  text-align: center;
}

.not-found-container h1 {
  font-size: 4rem;
  color: #dc3545;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #6c757d;
}

.not-found-container a {
  font-size: 1.2rem;
}

.denied-container {
  text-align: center;
}

.denied-container h1 {
  font-size: 4rem;
  color: #dc3545;
}

.denied-container p {
  font-size: 1.5rem;
  color: #6c757d;
}

.denied-container a {
  font-size: 1.2rem;
}